template(name="options")
  #options.js-open-header-board-menu
    a.header-board-bar-name(title="{{_ 'boardOptionsMenu-title'}}")
        img(src="{{pathFor '/svg-etc/grid.svg'}}" alt="{{currentSetting.productName}}" title="{{currentSetting.productName}}" width="28")

template(name="boardOptionsPopup")
  ul.pop-over-list
    with currentUser
      li
        a.js-my-cards(href="{{pathFor 'my-cards'}}")
          i.fa.fa-list
          | {{_ 'my-cards'}}
      li
        a.js-due-cards(href="{{pathFor 'due-cards'}}")
          i.fa.fa-calendar
          | {{_ 'dueCards-title'}}
      li
        a.js-global-search(href="{{pathFor 'global-search'}}")
          i.fa.fa-search
          | {{_ 'globalSearch-title'}}
      li
        a(href="{{pathFor 'home'}}")
          span.fa.fa-home.general-hover
          | {{_ 'all-boards'}}
      li
        a(href="{{pathFor 'public'}}")
          span.fa.fa-globe
          | {{_ 'public'}}
      li
        a.board-header-btn.js-open-archived-board
          i.fa.fa-archive
          span {{_ 'archives'}}
      unless currentUser.isWorker
        ul.pop-over-list
          li
            a(href="{{pathFor 'board' id=templatesBoardId slug=templatesBoardSlug}}")
              i.fa.fa-clone
              | {{_ 'templates'}}
      if currentUser.isAdmin
        li
          a.js-go-setting(href="{{pathFor 'setting'}}")
            i.fa.fa-lock
            | {{_ 'admin-panel'}}
