.new-comment a.fa.fa-brands.fa-markdown,
.inlined-form a.fa.fa-brands.fa-markdown {
  /* deleted */
  /* float: right; */
  position: relative;
  /* deleted */
  /* top: 20px; */
  right: 56px;
}
.new-comment a.fa.fa-copy,
.inlined-form a.fa.fa-copy {
  /* deleted */
  /* float: right; */
  position: relative;
  /* deleted */
  /* top: 20px; */
  right: 6px;
}
.js-inlined-form.viewer.btn-sm {
  position: absolute;
  top: 20px;
  right: 6px;
}
