* {
  -webkit-box-sizing: unset;
  box-sizing: unset;
  /* margin-top: 5px; */
}

/* Fixed missing 'import nib' stylesheet reset and extra li bullet points
 * https://github.com/wekan/wekan/issues/4512#issuecomment-1129347536
 */
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thread,
tr,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: 'Segoe UI Semibold';
  font-size: 100%;
  vertical-align: baseline;
}

.note-popover .popover-content .note-color-palette div .note-color-btn,
.panel-heading.note-toolbar .note-color-palette div .note-color-btn {
  background: none;
}

a:focus {
  outline: unset;
  outline-offset: unset;
}

a:hover,
a:focus {
  color: unset;
  text-decoration: unset;
}

.badge {
  display: unset;
  min-width: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  text-align: unset;
  white-space: unset;
  vertical-align: unset;
  background-color: unset;
  border-radius: unset;
}

html,
body,
input,
select,
textarea,
button {
  font: 14px 'Segoe UI Semibold';
  line-height: 18px;
  color: #4d4d4d;
}

html {
  font-size: 100%;
  max-height: 100%;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  position: relative;
  z-index: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  direction: rtl;
  /*rtl_changes*/
  position: relative;
  flex: 1;
  overflow-x: hidden;
}

.boardscolor-container {
  margin: 0;
  position: relative;
  z-index: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-position: 50%;
  background-size: cover;
}

/*changing background colors - 23.11*/

.board-color-clearblue.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(209, 79%, 60%) 0%, hsl(209, 79%, 80%) 100%); */
  background-color: rgb(34, 140, 213);
  background-image: url(/svg-etc/light-blue.svg);
}

.board-color-nephritis.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(145, 63%, 42%) 0%, hsl(145, 63%, 80%) 100%); */
  background-color: rgb(63, 164, 149);
  background-image: url(/svg-etc/green.svg);
}

.board-color-pomegranate.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(6, 63%, 46%) 0%, hsl(6, 63%, 65%) 100%); */
  background-color: rgb(118, 42, 20);
  background-image: url(/svg-etc/magma.svg);
}

.board-color-belize.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(204, 64%, 44%) 0%, hsl(204, 64%, 80%) 100%); */
  background-color: rgb(11, 80, 175);
  background-image: url(/svg-etc/dark-bluesvg.svg);
}

.board-color-wisteria.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(282, 44%, 47%) 0%, hsl(282, 44%, 80%) 100%); */
  background-color: rgb(103, 66, 132);
  background-image: url(/svg-etc/dark-purplesvg.svg);

}

.board-color-midnight.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(210, 29%, 24%) 0%, hsl(210deg 29.41% 80%) 100%); */
  background-color: rgb(55, 72, 102);
  background-image: url(/svg-etc/dark.svg);
}

.board-color-pumpkin.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(28, 80%, 52%) 0%, hsl(28, 80%, 80%) 100%); */
  background-color: rgb(239, 118, 58);
  background-image: url(/svg-etc/peach.svg);
}

.board-color-moderatepink.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(331, 53%, 58%) 0%, hsl(331,53%, 80%) 100%); */
  background-color: rgb(244, 136, 166);
  background-image: url(/svg-etc/flower.svg);
}

.board-color-modern.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(204, 63%, 44%) 0%, hsl(204,63%, 80%) 100%); */
  background-color: rgb(168, 105, 193);
  background-image: url(/svg-etc/light-purple.svg);
}




.board-color-strongcyan.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(189, 100%, 40%) 0%, hsl(189,100%, 80%) 100%); */
  background-image: url(/svg-etc/car.jpg);
}

.board-color-limegreen.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(137, 48%, 52%) 0%, hsl(137,48%, 80%) 100%); */
  background-image: url(/svg-etc/city.jpg);
}

.board-color-relax.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(89, 69%, 65%) 0%, hsl(89,69%, 80%) 100%); */
  background-image: url(/svg-etc/eiffel.jpg);
}

.board-color-natural.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(0, 0%, 70%) 0%, hsl(0,0%, 100%) 100%); */
  background-image: url(/svg-etc/forest.jpg);
}

.board-color-mountain.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(0, 0%, 70%) 0%, hsl(0,0%, 100%) 100%); */
  background-image: url(/svg-etc/mountain.jpg);
}

.board-color-pizza.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(0, 0%, 70%) 0%, hsl(0,0%, 100%) 100%); */
  background-image: url(/svg-etc/pizza.jpg);
}

.board-color-pokemon.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(0, 0%, 70%) 0%, hsl(0,0%, 100%) 100%); */
  background-image: url(/svg-etc/pokemon.jpg);
}

.board-color-walkingman.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(0, 0%, 70%) 0%, hsl(0,0%, 100%) 100%); */
  background-image: url(/svg-etc/walkingman.jpg);
}

.board-color-sea.boardscolor-container {
  /* background: linear-gradient(230deg, hsl(0, 0%, 70%) 0%, hsl(0,0%, 100%) 100%); */
  background-image: url(/svg-etc/sea.jpg);
}






#content .sk-spinner {
  margin-top: 30vh;
}

#content>.wrapper {
  margin-top: 10px;
  padding: 15px;
}

#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  overflow-y: auto;
}

#modal .modal-content {
  width: 500px;
  min-height: 160px;
  margin: 42px auto;
  padding: 12px;
  border-radius: 4px;
  background: #dedede;
  z-index: 110;
}

#modal .modal-content h2 {
  margin-bottom: 25px;
}

#modal .modal-content .modal-close-btn {
  display: block;
  float: left; /*changed - 29.11*/
  font-size: 24px;
}

#modal .modal-content-wide {
  width: 800px;
  min-height: 0px;
  margin: 42px auto;
  padding: 12px;
  border-radius: 4px;
  background: #dedede;
  z-index: 110;
}

#modal .modal-content-wide h2 {
  margin-bottom: 25px;
}

#modal .modal-content-wide .modal-close-btn {
  display: block;
  float: left; /*changed - 28.11*/
  font-size: 24px;
}

h1 {
  font-size: 22px;
  line-height: 1.2em;
  margin: 0 0 10px;
}

h2 {
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 0 9px;
}

h3,
h4,
h5,
h6 {
  font-size: 16px;
  line-height: 1.25em;
  margin: 0 0 6px;
}

.quiet,
.quiet a {
  color: #8c8c8c;
}

.error,
.error a {
  color: #eb3800;
}

.no-items-message {
  color: #666;
  margin: 30px 0;
  text-align: center;
}

.warning {
  background: #f0ecdb;
  border-radius: 3px;
  color: #aa8f09;
  padding: 6px 8px;
}

.warning a {
  color: #aa8f09;
}

.small {
  font-size: 0.8em;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a.is-disabled,
a.is-disabled:hover {
  cursor: default;
  text-decoration: none;
}

span a {
  text-decoration: underline;
}
a.fa.fa-navicon.js-open-swimlane-menu{
  font-size:20px;
}

strong {
  font-weight: bold;
}

p {
  user-select: text;
}

p a {
  text-decoration: underline;
  word-wrap: break-word;
}

table,
p {
  margin-bottom: 8px;
}

pre {
  margin: 15px 0;
  white-space: pre;
  max-height: 516px;
}

pre,
code,
tt {
  font-family: lucida console, monospace;
  line-height: 1.25em;
}

blockquote {
  margin: 8px 0 8px 8px;
  border-left: 1px solid #ccc;
  color: #666;
  padding: 0 0 0 8px;
}

hr {
  height: 1px;
  border: 0;
  border: none;
  width: 100%;
  background: #dbdbdb;
  color: #dbdbdb;
  margin: 15px 0;
  padding: 0;
}

table,
td,
th {
  vertical-align: top;
  border-top: 3px solid #ccc;
  border-left: 3px solid #ccc;
}

td,
th {
  padding: 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: 700;
}

thead {
  background: #fff;
  background: linear-gradient(to bottom, #fff 0, #f0f0f0 100%);
}

tbody {
  background-color: #fff;
}

dl,
dt {
  margin-bottom: 8px;
}

dd {
  margin: 0 0 16px 24px;
}

kbd {
  padding: 1px 3px;
  margin: 3px;
  font-weight: bold;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  color: unset;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.first {
  margin-left: 0;
  padding-left: 0;
}

.last {
  margin-right: 0;
  padding-right: 0;
}

.top {
  margin-top: 0;
  padding-top: 0;
}

.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.wrapper {
  width: calc(100% - 20px);
  margin: 0 auto;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}

.lowercase {
  text-transform: lowercase;
}

.invisible {
  visibility: hidden;
}

.wrapword {
  word-wrap: break-word;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.textcomplete-dropdown {
  z-index: 2000 !important;
}

.fa.fa-times-thin:before {
  content: '\00d7';
}

.fa.fa-globe.colorful,
.fa.fa-bell.colorful {
  color: #4caf50;
}

.fa.fa-lock.colorful,
.fa.fa-bell-slash.colorful {
  color: #f44336;
}

.fa.fa-eye.colorful {
  color: #4336f4;
}

.pop-over .pop-over-list li a:not(.disabled):hover .fa,
.pop-over .pop-over-list li a:not(.disabled):hover .fa.colorful {
  color: #fff;
}

.pop-over .pop-over-list li a:not(.disabled):hover .fa:hover,
.pop-over .pop-over-list li a:not(.disabled):hover .fa.colorful:hover {
  color: #fff;
}

a.fa,
a i.fa {
  color: #5d5c5c;
  /*color change - 16.11*/
  font-size: larger;
  /*added - 21.11*/
}

a:not(.disabled):hover.fa,
a:not(.disabled).is-active.fa,
a:not(.disabled):hover i.fa,
a:not(.disabled).is-active i.fa {
  color: #666;
}

.ui-draggable-dragging {
  z-index: 200;
}

.atMention {
  background: #dbdbdb;
  border-radius: 3px;
  padding: 1px 4px;
  margin: -1px 0;
  display: inline-block;
}

.atMention.me {
  background: #cfdfe8;
}

.big-message {
  display: block;
  margin: 75px auto;
  text-align: center;
  max-width: 600px;
}

.big-message h1 {
  font-size: 26px;
  margin-bottom: 24px;
}

.big-message p {
  font-size: 18px;
  line-height: 22px;
}

.gutter {
  margin-left: 38px;
}

.viewer {
  min-height: 18px;
  display: block;
  word-wrap: break-word;
}

.viewer table {
  word-wrap: normal;
  word-break: normal;
}

.viewer ol {
  list-style-type: decimal;
  padding-left: 20px;
  padding-bottom: 10px;
}

.viewer ul {
  list-style-type: initial;
  padding-left: 20px;
  padding-bottom: 10px;
}

.viewer em {
  font-style: italic;
}

.viewer pre {
  padding: 10px 12px 7px;
  background: #dedede;
  overflow-y: auto;
}

.viewer a {
  text-decoration: underline;
}

.viewer a:hover {
  color: #333;
}

.basicTabs-container .tabs-content-container {
  padding: 0;
  padding-top: 15px;
}

@media screen and (max-width: 800px) {
  #content {
    margin: 1px 0px 0px 0px;
    height: calc(100% - 0px);
  }

  #content>.wrapper {
    margin-top: 0px;
  }

  .wrapper {
    height: calc(100% - 31px);
    margin: 0px;
  }

  .panel-default {
    width: 83vw;
  }
}

.inline-input {
  height: 37px;
  margin: 8px 10px 0 0;
  width: 50px;
}

.select-authentication {
  width: 100%;
}

.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-layout .auth-dialog {
  margin: 0 !important;
}

.loadingText {
  text-align: center;
}

.lds-roller {
  display: block;
  margin: auto;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #dedede;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

.at-link {
  color: #17683a;
  text-decoration: underline;
  text-decoration-color: #17683a;
}

.at-pwd-form,
.at-sep,
.at-oauth {
  display: none;
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-moz-keyframes flexGrowIn {
  from {
    height: 100%;
  }
}

@-webkit-keyframes flexGrowIn {
  from {
    height: 100%;
  }
}

@-o-keyframes flexGrowIn {
  from {
    height: 100%;
  }
}

@keyframes flexGrowIn {
  from {
    height: 100%;
  }
}

@-moz-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* added styling for mador logo 6.12.2023 */
.madorWaterMark {
  width: 300px;
  z-index: -1;
  position: absolute;
  bottom: 15px;
  right: -15px;
}